<h1>Pages#index</h1>

<div class="row">
 <div class="col-md-8">
    <div class="box">
    <h1>Hola </h1>
    </div>
  </div>
  
  <div class="col-md-8">
    <div class="circle">
    <h1>Circulo</h1>
    </div>
   </div>
</div>